

.square {
    width: 85px;
    height: 55px;
    border: 7px solid black;
    box-shadow: 5px 5px 5px 0px #aaa;
}

.line {
    margin-top: 17px;
    width: 45px;
    height: 7px;
    background-color: red;
    transform: rotate(-45deg);
}

.triangle {
    margin: auto;
    position: relative;
    top: 0;
    left: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #000000 transparent transparent transparent;
}

a.navbar-brand span {
    font-size: 30px;
}

a.navbar-brand {
    text-align: end;
    font-size: 12px;
}

.bg-dark {
    background-image: linear-gradient(rgba(4, 81, 132, 0.9), rgba(4, 81, 132, 0.9)), url(./pics/bann.jpg);
    background-position: 50% 0%;
    background-color: transparent;
}

li.nav-item {
    font-size: 13px;
}

.col-12.col-md-6.align-self-center {
    padding: 0 80px;
}

.col-12.col-md-6.align-self-center h3 {
    margin-bottom: 20px;
}

.col-12.col-md-6.align-self-center p {
    font-size: 17px;
}
.col-12.col-md-6.align-self-center span {
    font-size: 17px;
}
.text-center.fw-bold {
    margin-top: 20px;
    margin-bottom: 50px;
}

.text-danger.text-center {
    margin-top: 50px;
}

h3 {
    font-size: 20px;
}

h2{
    font-size: 26px;
}

.row {
    margin-bottom: 50px;
}

.banner {
    background-image: linear-gradient(rgba(4, 81, 132, 0.9), rgba(4, 81, 132, 0.9)), url(./pics/bann.jpg);
    background-position: 50%;
    height: 129px;
    letter-spacing: 0.15em;
    margin-bottom: 50px;
    padding: 0 20px;
    text-align: center;
}

ul li {
    font-size: 16px;
}

.flex-column{
    display: flex;
    margin-left: 15%;
}